
/*
Use this file to write your custom styles
*/
@media screen and (max-width: 360px) {
    .hab1 {
        top: -10%;
	    left: 21%;
	    font-size: 0.6rem;
    }
    .hab2 {
        left: -4%;
	    font-size: 0.6rem;
	    width: 117px;
    }
    .hab3 {
        right: 0%;
	    font-size: 0.6rem;
	    width: 75px;
    }
    .hab4 {
       	font-size: 0.6rem;
	    left: 7px;
	    bottom: -23px;
	    width: 120px;
    }
    .hab5 {
       	font-size: 0.6rem;
	    right: 20px;
	    bottom: -22px;
	    width: 95px;
    }
}
@media screen and (max-width: 320px) {
    .hab1 {
        top: -12%;
	    left: 20%;
	    font-size: 0.6rem;
    }
}