body, html{
    overflow-x: hidden;
}

@font-face{
    font-family:"Folklore";
    src: url("../webfonts/folklore/Folklore.woff") format("woff"),
         url("../webfonts/folklore/Folklore.ttf") format("truetype");
    unicode-range:"U+0-10FFFF";
}
@font-face{
    font-family:"Quicksand";
    src: url("../webfonts/quicksand/QuicksandBold.woff") format("woff"),
         url("../webfonts/quicksand/QuicksandBold.ttf") format("truetype");
    unicode-range:"U+0-10FFFF";
}
.font-guardianes{
    font-family: 'Folklore';
}

.font-guardianes2{
    font-family: 'Quicksand';
}

body {
    color: #616876;
    font-family: 'Quicksand';

}

a {
    color: #616876;
    -webkit-transition: color 0.3s;
    transition: color 0.3s
}

a:hover {
    color: #51D2C2
}

.btn {
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 18px;
    font-size: 1rem;
    box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.1)
}

.btn.btn-lg {
    padding: 0.85rem 2rem 0.85rem
}

.btn-primary {
    background-color: #392911;
    border-color: #392911;
    margin-top: 0px;
    padding-left: 45px;
}

.btn-primary:hover {
    background-color: #392911;
    border-color: #392911;
}

.btn-primary.focus,
.btn-primary:focus,
.btn-primary:not([disabled]):not(.disabled):active {
    background-color: #392911;
    border-color: #392911;
}

.section {
    padding: 80px 0 60px
}

.section.section-gray {
    background-color: #f8fafc
}

.section .section-header .display-4 {
    font-size: 3rem
}

.section .section-header .lead {
    max-width: 600px
}

.top-bar {
    width: 100%;
    position: fixed;
    z-index: 9999;
    -webkit-transition: background 0.3s;
    transition: background 0.3s
}

.top-bar.top-bar-onscroll {
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1)
}

.top-bar-inner {
    width: 100%
}

.top-bar-inner .btn {
    box-shadow: none
}

.brand {
    font-size: 1.8rem
}

.brand:hover {
    text-decoration: none
}

.offcanvas-btn {
    color: #fff;
    background-color: transparent;
    border: none;
    box-shadow: none
}

.offcanvas-btn:hover,
.offcanvas-btn:focus,
.offcanvas-btn:not([disabled]):not(.disabled):active {
    border: none;
    background-color: transparent;
    box-shadow: none
}

.top-bar-onscroll .offcanvas-btn,
.top-bar-onscroll .offcanvas-btn:not([disabled]):not(.disabled):active {
    color: #616876
}

.offcanvas-btn i {
    font-size: 1.4rem;
    float: left
}

.download-btn > i{
    font-size: 2.2rem;
    position: absolute;
    left: -20px;
    background: #392911;
    border-radius: 50px;
    padding: 12px;
    top: -9px;
}

header {
    background-image: url(../img/bg1.jpeg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}

header .container {
    z-index: 2
}

header .header-text {
    width: 100%
}

header .header-text h1 {
    font-size: 1.5rem !important;
    color: white;
    text-shadow: 2px 4px 4px #000;
    margin-bottom: 0px !important;
    padding-bottom: 0px !important;
}
header .header-text h2 {
    font-size: 1.6rem !important;
    color: white;
    text-shadow: 2px 4px 4px #000;
    margin-bottom: 0px !important;
    padding-bottom: 0px !important;
    line-height: 20px;
}
header .header-text h3 {
    font-size: 1rem !important;
    color: white;
    text-shadow: 2px 4px 4px #000;
    margin-bottom: 0px !important;
    padding-bottom: 0px !important;
    line-height: 50px;
}

header .text-lg-right h1{
    font-size: 15pt;
    color: #392911;
    margin-bottom: 0px !important;
    margin-right: 17px;
}
header .text-lg-right h2{
    font-size: 3.5em;
    font-weight: bold;
    color: #392911;
    margin-bottom: 0px !important;
}

header img {
    width: 240px
}

.guardian-header{
    width: 67% !important;
    margin-top: -12px;
}
.p-btn-ws{
    padding-right: 9rem !important;
}

.guardian-moto{
    width: 85% !important;
    margin-top: -19px;
}
.btn-ws-moto{
    padding-right: 18rem;
    margin-top: -25px;
}
.number-ws-moto{
    font-size: 1.1rem;
}
.guardian-form{
    width: 62% !important;
    margin-left: -26px;
    margin-top: -24px;
}
.guardianes-marron{
    width: 47% !important;
    margin-left: -26px;
    margin-top: -2px;
}

.features{
    background: url(../img/bg2-1.jpg?v=1.0);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}

.features .feature-box {
    max-width: 400px;
    border: solid 1px transparent;
    border-radius: 4px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s
}

.features .feature-box:hover {
    border: solid 1px #cbf1ed;
    background-color: #fff
}

.features .feature-box .feature-box-header {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #51D2C2;
    box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.1)
}

.features .feature-box i {
    font-size: 4rem;
    line-height: 0.8
}

.features .feature-box h3 {
    font-size: 1rem
}

.features .feature-box p {
    color: #959ba8
}

.screens .owl-item {
    opacity: 0.5;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s
}

.screens .owl-item.center {
    opacity: 1
}

.screens .screen {
    padding: 1rem;
    -webkit-transition: box-shadow 0.3s;
    transition: box-shadow 0.3s
}

.screens .screen img {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1)
}

.screens .owl-prev,
.screens .owl-next {
    width: 50px;
    height: 50px;
    margin-top: -25px;
    position: absolute;
    top: 50%;
    display: flex;
    -ms-flex-pack: center !important;
    justify-content: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
    border-radius: 50%;
    box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.1)
}

.screens .owl-prev {
    left: 0
}

.screens .owl-next {
    right: 0
}

.screens i {
    font-size: 2rem
}

.download img {
    width: 240px
}

.download .btn i {
    font-size: 1.2rem
}

.testimonials .testimonial {
    max-width: 500px
}

.testimonials .testimonial img {
    width: 160px;
    border-radius: 160px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2)
}

.testimonials .testimonial h3 {
    font-size: 1.2rem;
    color: #51D2C2
}

.testimonials .testimonial p {
    color: #959ba8
}

.testimonials .owl-prev,
.testimonials .owl-next {
    width: 50px;
    height: 50px;
    margin-top: -25px;
    position: absolute;
    top: 50%;
    display: flex;
    -ms-flex-pack: center !important;
    justify-content: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
    border-radius: 50%;
    box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.1)
}

.testimonials .owl-prev {
    left: 0
}

.testimonials .owl-next {
    right: 0
}

.testimonials i {
    font-size: 2rem
}

.plans .card {
    width: 340px;
    border: none
}

.plans .card.active {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    z-index: 99
}

.plans .card .card-header {
    background-color: #fff
}

.plans .card .card-block {
    padding-top: 0
}

.plans .card .list-group-item {
    color: #959ba8
}

.plans .card .display-2 {
    font-size: 7rem;
    letter-spacing: -.5rem
}

.plans .card .display-2 .currency {
    font-size: 2.75rem;
    position: relative;
    top: -45px;
    letter-spacing: 0px
}

.plans .card .display-2 .period {
    font-size: 1rem;
    color: #959ba8;
    letter-spacing: 0px
}

.stats h3 {
    font-size: 2.5rem;
    color: #51D2C2
}

.team {
    background-image: url(../img/texture.png)
}

.team .card {
    background-color: #f8fafc
}

.team .card img {
    width: 240px;
    height: 240px;
    border-radius: 50%
}

.team .card h5 {
    font-size: 1rem
}

.team .card span {
    color: #959ba8
}

.team .card .nav-link {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    -ms-flex-pack: center !important;
    justify-content: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
    border: solid 1px #dadcdd;
    -webkit-transition: all 0.3s;
    transition: all 0.3s
}

.team .card .nav-link:hover {
    color: #fff;
    border-color: #51D2C2;
    background-color: #51D2C2
}

.team .card .nav-link i {
    width: 40px
}

.newsletter {
    background-color: #51D2C2
}

.newsletter .form-control {
    color: #fff;
    border: solid 2px #fff;
    border-radius: 30px;
    background-color: transparent;
    box-shadow: none
}

.newsletter .form-control::-moz-placeholder {
    color: #f9f9f9
}

.newsletter .form-control:-ms-input-placeholder {
    color: #f9f9f9
}

.newsletter .form-control::-webkit-input-placeholder {
    color: #f9f9f9
}

.newsletter .btn {
    color: #51D2C2;
    background-color: #fff
}

.newsletter .btn:hover {
    color: #fff;
    background-color: #f36
}

.loader {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #ffffff;
    z-index: 999999
}

.cp-spinner {
    width: 48px;
    height: 48px;
    display: inline-block;
    box-sizing: border-box;
    position: absolute;
    margin: -24px 0 0 -24px;
    top: 50%;
    left: 50%
}

.cp-skeleton {
    border-radius: 50%;
    border-top: solid 6px #392911;
    border-right: solid 6px transparent;
    border-bottom: solid 6px transparent;
    border-left: solid 6px transparent;
    animation: cp-skeleton-animate 1s linear infinite
}

.cp-skeleton:before {
    border-radius: 50%;
    content: " ";
    width: 48px;
    height: 48px;
    display: inline-block;
    box-sizing: border-box;
    border-top: solid 6px transparent;
    border-right: solid 6px transparent;
    border-bottom: solid 6px transparent;
    border-left: solid 6px #392911;
    position: absolute;
    top: -6px;
    left: -6px;
    transform: rotateZ(-30deg)
}

.cp-skeleton:after {
    border-radius: 50%;
    content: " ";
    width: 48px;
    height: 48px;
    display: inline-block;
    box-sizing: border-box;
    border-top: solid 6px transparent;
    border-right: solid 6px #392911;
    border-bottom: solid 6px transparent;
    border-left: solid 6px transparent;
    position: absolute;
    top: -6px;
    right: -6px;
    transform: rotateZ(30deg)
}

@keyframes cp-skeleton-animate {
    0% {
        -webkit-transform: rotate(0);
        -ms-transform: rotate(0);
        transform: rotate(0);
        opacity: 1
    }
    50% {
        opacity: .7
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
        opacity: 1
    }
}

.navigation {
    width: 100%;
    height: 70px;
    display: table;
    position: relative;
    font-family: inherit;
    background-color: #373b44
}

.navigation * {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent
}

.navigation-portrait {
    height: 48px
}

.navigation-fixed-wrapper {
    width: 100%;
    left: 0;
    z-index: 19998;
    position: relative;
    will-change: opacity
}

.navigation-fixed-wrapper.fixed {
    position: fixed !important;
    -webkit-animation: fade .50s;
    animation: fade .50s
}

@keyframes fade {
    from {
        opacity: 0.999
    }
    to {
        opacity: 1
    }
}

.navigation-fixed-wrapper .navigation {
    margin-right: auto;
    margin-left: auto
}

.navigation-fixed-placeholder {
    width: 100%;
    display: none
}

.navigation-fixed-placeholder.navigation-fixed-placeholder.visible {
    display: block
}

.navigation-hidden {
    width: 0 !important;
    height: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
    position: absolute;
    top: -9999px
}

.align-to-right {
    float: right
}

.nav-header {
    float: left
}

.navigation-hidden .nav-header {
    display: none
}

.nav-toggle {
    width: 30px;
    height: 30px;
    padding: 6px 2px 0;
    position: absolute;
    top: 50%;
    margin-top: -14px;
    right: 15px;
    display: none;
    cursor: pointer
}

.nav-toggle:before {
    content: "";
    position: absolute;
    width: 24px;
    height: 2px;
    background-color: #616876;
    border-radius: 10px;
    box-shadow: 0 0.5em 0 0 #616876, 0 1em 0 0 #616876
}

.navigation-portrait .nav-toggle {
    display: block
}

.navigation-portrait .nav-menus-wrapper {
    width: 320px;
    height: 100%;
    top: 0;
    left: -400px;
    position: fixed;
    background-color: #373b44;
    z-index: 20000;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    -webkit-transition-duration: .8s;
    transition-duration: .8s;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease
}

.navigation-portrait .nav-menus-wrapper.nav-menus-wrapper-right {
    left: auto;
    right: -400px
}

.navigation-portrait .nav-menus-wrapper.nav-menus-wrapper-open {
    left: 0
}

.navigation-portrait .nav-menus-wrapper.nav-menus-wrapper-right.nav-menus-wrapper-open {
    left: auto;
    right: 0
}

.nav-menus-wrapper-close-button {
    width: 30px;
    height: 40px;
    margin: 10px 7px;
    display: none;
    float: right;
    color: #959ba8;
    font-size: 26px;
    cursor: pointer
}

.navigation-portrait .nav-menus-wrapper-close-button {
    display: block
}

.nav-overlay-panel {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: none;
    z-index: 19999
}

.no-scroll {
   /* touch-action: none;*/
    overflow-x: hidden
}

.nav-menu {
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: normal;
    font-size: 0
}

.navigation-portrait .nav-menu {
    width: 100%
}

.nav-menu.nav-menu-centered {
    text-align: center
}

.nav-menu.nav-menu-centered>li {
    float: none
}

.nav-menu>li {
    display: inline-block;
    float: left;
    text-align: left
}

.navigation-portrait .nav-menu>li {
    width: 100%;
    position: relative;
    border-top: solid 1px transparent
}

.navigation-portrait .nav-menu>li:last-child {
    border-bottom: solid 1px transparent
}

.nav-menu+.nav-menu>li:first-child {
    border-top: none
}

.nav-menu>li>a {
    height: 70px;
    padding: 26px 15px;
    display: inline-block;
    position: relative;
    text-decoration: none;
    font-size: 1.2rem;
    color: #b1b6bf;
    -webkit-transition: color 0.3s, background 0.3s;
    transition: color 0.3s, background 0.3s
}

.navigation-portrait .nav-menu>li>a {
    width: 100%;
    height: auto;
    padding: 12px 15px 12px 26px
}

.nav-menu>li:hover>a,
.nav-menu>li.active>a,
.nav-menu>li.focus>a {
    color: #51D2C2
}

.nav-menu>li>a>i,
.nav-menu>li>a>[class*="ion-"] {
    width: 18px;
    height: 16px;
    line-height: 16px;
    -webkit-transform: scale(1.4);
    -ms-transform: scale(1.4);
    transform: scale(1.4)
}

.nav-menu>li>a>[class*="ion-"] {
    width: 16px;
    display: inline-block;
    -webkit-transform: scale(1.8);
    -ms-transform: scale(1.8);
    transform: scale(1.8)
}

.navigation-portrait .nav-menu.nav-menu-social {
    width: 100%;
    text-align: center
}

.nav-menu.nav-menu-social>li {
    text-align: center;
    float: none;
    border: none !important
}

.navigation-portrait .nav-menu.nav-menu-social>li {
    width: auto
}

.nav-menu.nav-menu-social>li>a>[class*="ion-"] {
    font-size: 12px
}

.nav-menu.nav-menu-social>li>a>.fa {
    font-size: 14px
}

.navigation-portrait .nav-menu.nav-menu-social>li>a {
    padding: 15px
}

.porc90{
	color: #392911;
    font-size: 1.5em;
}
.perroguardian{
    position: relative;
}
.hab1{
    position: absolute;
    top: -7%;
    width: 272px;
    color: #fff;
    left: 32%;
    font-size: 16pt;
}
.hab2{
    position: absolute;
    top: 30%;
    width: 208px;
    color: #fff;
    left: -16%;
    font-size: 16pt;

}
.hab3{
    position: absolute;
    top: 30%;
    width: 130px;
    color: #fff;
    right: -11%;
    font-size: 16pt;

}
.hab4{
    position: absolute;
    bottom: -2%;
    width: 325px;
    color: #fff;
    left: -11%;
    font-size: 16pt;

}
.hab5{
    position: absolute;
    bottom: -1%;
    width: 238px;
    color: #fff;
    right: -2%;
    font-size: 16pt;
}
.text3-guardianes{
    font-size: 34px;
    font-weight: bold;
    color: white;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 100px;
}
.text4-guardianes{
    font-size: 30px;
    color: white;
    padding-left: 10%;
    padding-right: 10%;
}
.screens{
    padding: 125px 0 80px;
    background-image: url(../img/bg3-1.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}
.eq1{
    margin-bottom: 0;
    margin-top: 0;
    font-size: 45pt;
    color: #243642;
    font-weight: bold;
    padding-top: 158px;
    text-align: left;
}
.eq2{
    margin-bottom: 0;
    margin-top: 0;
    font-size: 1.5em;
    color: #243642;
    font-weight: bold;
    text-align: left;
    padding-right: 15%;
}
.informes{
    border-radius: 50px;
    background: #392911;
    color: #fff;
    padding: 10px;
    padding-right: 60px;
    padding-left: 60px;
    padding-top: 11px;
    font-size: 2em;
}
.btn-eq{
    margin-top: -5px;
    background: #4a3a22;
    border: #4a3a22;
}
.btn-eq:hover{
    background: #4a3a22;
    border: #4a3a22;
}
.btn-eq i{
    background: #4a3a22;
    border: #4a3a22;
}
.selectivos{
    padding: 125px 0 80px;
    background-image: url(../img/bg4.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
}
.gradiente {
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,0.7595413165266106) 0%, rgba(48,64,79,1) 40%, rgba(48,64,79,1) 100%);
}
.act1 {
    color: white;
    padding-left: 70px;
    border-top-left-radius: 85px;
    border-bottom-left-radius: 85px;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
}
.selectivos h3{
    font-size: 1.5em;
}
.selectivos p{
    font-size: .8em;
}
.iconos-selectivo{
    position: absolute;
    left: -50px;
    width: 100px;
    top: 10px;
}
.selectivos h1{
    font-size: 20pt;
    color: #392911;
    margin-bottom: 0px !important;
    margin-left: 5.5rem;
}
.selectivos h2{
    font-size: 3.5em;
    font-weight: bold;
    color: #392911;
    margin-bottom: 0px !important;
}
.img-guardianes{
    overflow-x: hidden;
}
.formulario{
    background: #fff;
    padding-top: 11px;
    padding-bottom: 0px;
}
.bg-form1{
    background-color: #EEEEEC;
}
.bg-form2{
    background-color: #392911;
    padding-bottom: 30px;
}
::placeholder { 
    color: #604829 !important;
    font-weight: bold !important
    opacity: 1 !important;
    font-size: 25px !important; 
}
/*.bg-form2::before {
    content: "\ea68";
    font: normal normal normal 100px/1 IcoFont;
    position: absolute;
    left: -30px;
    color: #392911;
    top: 10%;
}*/

.flecha-form{
    position: absolute;
    left: -24px;
    color: #392911;
    top: 12%;
    font-size: 4.5rem;
}

.t7-guardianes{
    margin-bottom: 0;
    font-size: 15pt;
    color: #392911;
}
.t5-guardianes{
    margin-bottom: 0;
    font-size: 66pt;
    color: #392911;
    padding-bottom: 20px;
}

.t8-guardianes {
    margin-bottom: 0;
    font-size: 25pt;
    color: #392911;
    text-shadow: 5px 4px 8px #000;

}

.t9-guardianes {
    margin-bottom: 0;
    font-size: 60pt;
    color: #392911;
    padding-bottom: 20px;
}

.texto-guardianes-mapa{
    line-height: 60px;
    padding-bottom: 91px;
    margin-left: 7px;

}

.texto-form{
    color: #392911;
    font-size: 16pt;
    text-align: left;
}
.div-youtube{
    /*width: 300px;*/
}
.mapa{
    background: url(../img/mapa.jpg?v=1.0);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 500px;
    overflow-y: hidden;
}

.bg-footer{
    background: rgb(42,60,74);
    background: linear-gradient(0deg, rgba(42,60,74,1) 60%, rgba(42,60,74,0.7679446778711485) 100%);
}

a img{
    width: 100%;
}
.mapa h2{
    font-size: 1.6em;
    color: #392911;
}
.mapa h3{
    font-size: 4em;
    font-weight: bold;
    color: #392911;
    padding-bottom: 50px;
}
.fondofo{
    height: 90px;
    background: #392911;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    align-self: flex-end;
    width: 100%;
}
footer{
    margin-top: 70px;
}
.btn-fo{
    margin-top: -5px;
    background: #4a3a22;
    border: #4a3a22;
    font-size: 2em;
    font-weight: bold;
    margin-top: -30px;
    padding-left: 60px;
    text-shadow: 2px 4px 4px #000;
}
.btn-fo:hover{
    background: #4a3a22;
    border: #4a3a22;
}
.btn-fo i{
    background: #4a3a22;
    border: #4a3a22;
    font-size: 1.7em;
}
.paddinheader{
    padding-top: 220px;
    padding-bottom: 220px;
}
.logo-header img{
    height: 105px;
    width: auto;
}
.nav-link{
    font-size: 1.4em !important;
    color: white !important;
    text-shadow: 2px 4px 4px #000;
}
.phone-guardianes-icon {
    transform: rotate(331deg);
    color: #392911;
    position: relative;
    top: -6px;
    font-size: 34pt;
}
.phone-number-nav {
    color: #392911;
    display: inline-block !important;
    font-weight: bold;
    line-height: 16px;
}
.number-nav{
    font-size: 15pt;
    font-weight: bold;
    text-shadow: 1px 2px 3px #000;
}
.icon-ws-eq{
    font-size: 31pt !important;
}
.number-eq{
    font-size: 17pt;
}
.addres-nav{
    font-size: 10pt;
}
.btn-header{
    color: #fff !important;
    font-size: 1.5em;
    font-weight: bold;
    padding-left: 32px;
    padding-right: 32px;
    margin-right: 42px;
}
.btn-form-guardianes{
    background-color: #EEEEEC !important;
    background: #EEEEEC !important;
    -webkit-background-color: #EEEEEC !important;
    -webkit-color: #392911 !important;
    color: #392911 !important;
    -moz-background-color: #EEEEEC !important;
    -moz-color: #392911 !important;
    -o-background-color: #EEEEEC !important;
    -o-color: #392911 !important;
    -ms-background-color: #EEEEEC !important;
    -ms-color: #392911 !important;
}

.icons-social{
    position: relative;
    top: -23px;
    font-size: 15pt;

}
.whatsapp-fix i{
    color: white;
    background-color: #25D366;
    padding: 12px 14px;
    border-radius: 42px;
    margin:25px auto;
    position: fixed;
    bottom: 10%;
    right: 2%;
    z-index: 1000;
    font-size: 3.5rem !important;
}

@media screen and (max-width: 992px) {
     header {
        background-image: url(../img/bg1-2.jpeg);
        background-position: top center;
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    .p-btn-ws2{
        margin-left: 1rem;
    }
    .inf1{
        display: none;
    }
    .inf0{
        display: block !important;
    }
    header .winfo{
        width: 54% !important;
        padding-bottom: 20px !important;
    }
    header .tinfo1{
        font-size: 1.3rem !important;
    }
    .guardian-header2 {
        width: 100% !important;
        margin-top: -5px;
        margin-bottom: -12px;
    }
    .btninf{
        font-size: 1rem;
    }
    .btninf > i {
        font-size: 2rem;
        padding: 11px;
    }
    .paddinheader{
        padding-bottom: 200px;
        padding-top: 200px;
    }
    header .text-lg-right{
        padding-top: 10px;
        padding-bottom: 10px;
        background: #ffffffbf;
    }
    header .text-lg-right h1{
        font-size: 1em;
        text-align: center;
    }
    header .text-lg-right h2{
        font-size: 2.5em;
        text-align: center;
    }

    .guardian-moto {
        width: 57% !important;
        margin-top: -19px;
    }

    .t8-guardianes {
    margin-bottom: -20px;
    font-size: 1.3rem;
    color: #392911;
    text-shadow: 5px 4px 8px #000;
    }

    .t9-guardianes {
        margin-bottom: 0;
        font-size: 60pt;
        color: #392911;
        padding-bottom: 20px;
    }

    .texto-guardianes-mapa{
        line-height: 60px;
        padding-bottom: 20px;
        margin-left: 0px;

    }

    .hab1 {
        top: -6%;
        left: 31%;
    }
    .hab2 {
        left: -15%;
    }
    .hab3 {
        right: -10%;
    }
    .text3-guardianes {
        font-size: 1.3em;
        padding-left: 0;
        padding-right: 0;
        padding-top: 70px;
    }
    .text4-guardianes{
        font-size: 1em;
    }
    .eq1 {
        font-size: 30pt;
        padding-top: 0px;
        text-align: center;
    }
    .eq2 {
        font-size: 15pt;
        padding-right: 0;
        text-align: center;
    }
    .screens{
        background: #fff;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .selectivos h3{
        font-size: 1.3em;
    }
    .selectivos p{
        font-size: 0.6em;
    }
    .selectivos h1 {
        padding-top: 30px !important;
        text-align: center !important;
        font-size: 1.3em;
    }
    .selectivos h2 {
        font-size: 3em;
        text-align: center !important;
    }
    .formulario {
        padding-top: 11px;
        padding-bottom: 0px;
    }
    .mapa{
        background-size: cover;
        padding-top:536px;
        overflow-y: hidden;
    }
    .t7-guardianes {
        font-size: 0.8em;
    }
    .mapa h2 {
        font-size: 1em;
    }
    .mapa h3 {
        font-size: 2em;
        padding-bottom: 30px;
    }
    .mapa-img{
        margin-top: -50px !important;

    }
    .fondofo{
        margin-top: 20px;
    }
    .icons-social{
        padding-top: 20px;
        font-size: 11px;
    }
    .guardian-form {
        margin-left: -26px;
        margin-top: -54px;
    }

    .p-btn-ws{
        margin-left: 8rem;
    }
    .whatsapp-fix i{
        padding: 8px 10px;
        border-radius: 42px;
        font-size: 2.5rem !important;
        bottom: 4%;
    }
}

@media screen and (max-width: 850px) {
   header {
        background-image: url(../img/bg1-2.jpeg);
        background-position: top center;
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    .p-btn-ws2{
        margin-left: 1rem;
    }
    .inf1{
        display: none;
    }
    .inf0{
        display: block !important;
    }
    header .winfo{
        width: 54% !important;
        padding-bottom: 20px !important;
    }
    header .tinfo1{
        font-size: 0.9rem !important;
    }
    .guardian-header2 {
        width: 100% !important;
        margin-top: -7px;
        margin-bottom: -4px;
    }
    .btninf{
        font-size: 0.9rem;
    }
    .btninf > i {
        font-size: 2rem;
        padding: 10px;
    }

    .paddinheader {
        padding-bottom: 130px;
        padding-top: 130px;
    }
    .texto-guardianes-mapa{
        line-height: 45px;
        padding-bottom: 20px;
        margin-left: 0px;
        padding-top: 50px;

    }
    .t8-guardianes {
        margin-bottom: -11px;
        font-size: 1.3rem;
        color: #392911;
        text-shadow: 5px 4px 8px #000;
    }
    .guardian-form {
        margin-left: -26px;
        margin-top: -54px;
    }

    .t9-guardianes {
        margin-bottom: 0;
        font-size: 47pt;
        color: #392911;
        padding-bottom: 20px;
    }

    .hab1 {
        top: -10%;
        left: 30%;
    }
    .hab2 {
        left: -5%;
    }
    .hab3 {
        right: -2%;
    }
    .hab4 {
        bottom: -2%;
        width: 288px;
        left: -7%;
    }
    .hab5 {
        width: 180px;
        right: 5%;
    }
    .icons-social{
        font-size: 10px;
    }
    .btn-ws-moto {
        padding-right: 13rem;
        margin-top: -20px;
    }
    .selectivos p {
        font-size: 0.9em;
    }

    .btn-fo {
        font-size: 1.7em;
        padding-left: 40px;
    }
    footer {
        margin-top: 30px;
    }
    .p-btn-ws{
        margin-left: 8rem;
    }
    .mapa{
        background-size: cover;
        padding-top: 358px;
        overflow-y: hidden;
    }
    .icons-social {
        font-size: 10px;
        padding-top: 49px;
    }
     .whatsapp-fix i{
        padding: 8px 10px;
        border-radius: 42px;
        font-size: 2.5rem !important;
        bottom: 4%;
    }
}

@media screen and (max-width: 630px) {
    header {
        background-image: url(../img/bg1-2.jpeg);
        background-position: top center;
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    .p-btn-ws2{
        margin-left: 1rem;
    }
    .inf1{
        display: none;
    }
    header .winfo{
        width: 54% !important;
        padding-bottom: 20px !important;
    }
    header .tinfo1{
        font-size: 0.75rem !important;
    }
    .guardian-header2 {
        width: 100% !important;
        margin-top: -5px;
    }
    .btninf{
        font-size: 0.8rem;
    }
    .btninf > i {
        font-size: 1.9rem;
        padding: 8px;
    }
    .paddinheader{
        padding-bottom: 80px;
        padding-top: 80px;
    }
    .texto-guardianes-mapa{
        line-height: 60px;
        padding-bottom: 11px;
        margin-left: 0px;
        padding-top: 69px;

    }
    .t8-guardianes {
        margin-bottom: -29px;
        font-size: 1rem;
        color: #392911;
        text-shadow: 5px 4px 8px #000;
    }
    .hab1 {
        top: -12%;
        left: 30%;
        width: 204px;
        font-size: 1rem;
    }
    .hab2 {
        left: -7%;
        font-size: 1rem;
        width: 200px;
    }
    .hab3 {
        right: -2%;
        font-size: 1rem;
    }
    .hab4 {
        left: 0;
        font-size: 1rem;
        width: 210px;
        bottom: 0;
    }
    .hab5 {
        right: 10%;
        font-size: 1rem;
        bottom: 0;
        width: 122px;
    }
    .selectivos h1 {
        padding-top: 30px !important;
        text-align: center !important;
        font-size: 1.2em;
    }
    .guardian-moto {
        width: 57% !important;
        margin-top: -15px;
    }
    .btn-ws-moto {
        padding-right: 6rem;
        margin-top: -11px;
    }
    .fondofo {
        border-radius: 0px;
    }
    .eq1 {
        font-size: 25pt;
        padding-top: 0px;
        text-align: center;
    }
    .eq2 {
        font-size: 12pt;
        padding-right: 0;
        text-align: center;
    }
    .mapa{
        background-size: cover;
        padding-top: 207px;
        overflow-y: hidden;
    }
    .mapa-img{
        margin-top: -47px !important;
    }
    .icons-social {
        font-size: 10px;
        padding-top: 49px;
    }
     .whatsapp-fix i{
        padding: 8px 10px;
        border-radius: 42px;
        font-size: 2.2rem !important;
        bottom: 0;
    }
}

@media screen and (min-width: 481px) and (max-width: 575px){
   header {
        background-image: url(../img/bg1-2.jpeg);
        background-position: top center;
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    .p-btn-ws2{
        margin-left: 1rem;
    }
    .inf1{
        display: none;
    }
    header .winfo{
        width: 54% !important;
        padding-bottom: 20px !important;
    }
    header .tinfo1{
        font-size: 0.75rem !important;
    }
    .guardian-header2 {
        width: 100% !important;
        margin-top: -5px;
    }
    .btninf{
        font-size: 0.8rem;
    }
    .btninf > i {
        font-size: 1.9rem;
        padding: 8px;
    }
   .t8-guardianes {
        margin-bottom: -12px;
        font-size: 0.8rem;
        color: #392911;
        text-shadow: 5px 4px 8px #000;
    }
   .texto-guardianes-mapa{
        line-height: 39px;
        padding-bottom: 34px;
        margin-left: 0px;
        margin-bottom: -52px;
        text-align: center !important;


    }
   .mapa{
        background-size: cover;
        padding-top: 165px;
        overflow-y: hidden;
    }
    .mapa-img{
        margin-top: -29px !important;
    }
    .icons-social {
        font-size: 10px;
        padding-top: 49px;
    }
    .whatsapp-fix i{
        padding: 8px 10px;
        border-radius: 42px;
        font-size: 2.2rem !important;
        bottom: 0;
    }

}

@media screen and (max-width: 480px) {
    header {
        background-image: url(../img/bg1-2.jpeg);
        background-position: top center;
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    .p-btn-ws2{
        margin-left: 1rem;
    }
    .inf1{
        display: none;
    }
    header .winfo{
        width: 54% !important;
        padding-bottom: 20px !important;
    }
    header .tinfo1{
        font-size: 0.5rem !important;
        font-family: 'helvetica';
    }
    .guardian-header2 {
        width: 100% !important;
        margin-top: -5px;
    }
    .btninf{
        font-size: 0.7rem;
    }
    .btninf > i {
        font-size: 1.9rem;
        padding: 8px;
    }
    .selectivos h1 {
        padding-top: 30px !important;
        text-align: center !important;
        font-size: 1em;
    }

    
    .guardian-moto {
        width: 85% !important;
        margin-top: -7px;
    }
    .btn-ws-moto {
        padding-right: 6rem;
        margin-top: -7px;
    }
    .paddinheader{
        padding-bottom: 50px;
        padding-top: 80px;
    }
    .t7-guardianes {
        font-size: 0.9rem;
        margin-bottom: -19px !important;
    }
    .t5-guardianes {
        font-size: 54pt;
    }
    .texto-guardianes-mapa{
        line-height: 39px;
        padding-bottom: 34px;
        margin-left: 0px;
        margin-bottom: -52px;
        text-align: center !important;


    }
    .t8-guardianes {
        margin-bottom: -12px;
        font-size: 0.8rem;
        color: #392911;
        text-shadow: 5px 4px 8px #000;
    }

    .t9-guardianes {
        margin-bottom: 0;
        font-size: 40pt;
        color: #392911;
        padding-bottom: 20px;
    }
    .hab1 {
        top: -13%;
        left: 24%;
        font-size: 0.9rem;
    }
    .hab2 {
        left: 0%;
        font-size: 0.8rem;
        width: 117px;
    }
    .hab3 {
        right: 4%;
        font-size: 0.8rem;
        width: 70px;
    }
    .hab4{
        font-size: 0.8rem;
        left: 5px;
        bottom: -10px;
        width: 165px;
    }
    .hab5{
        font-size: 0.8rem;
        right: 20px;
        bottom: -10px;
        width: 130px;
    }
    .fondofo {
        border-radius: 0px;
    }
    .p-btn-ws{
        margin-left: 7rem;
    }
     .formulario{
        padding-top: 0px;
    }
    
    .mapa{
        background-size: cover;
        padding-top: 193px;
        overflow-y: hidden;
    }
    .mapa-img{
        margin-top: -29px !important;
    }
    .icons-social {
        font-size: 10px;
        padding-top: 49px;
    }
    .whatsapp-fix i{
        padding: 8px 10px;
        border-radius: 42px;
        font-size: 2.2rem !important;
        bottom: 0;
    }
}

@media screen and (max-width: 380px) {
     header {
        background-image: url(../img/bg1-2.jpeg);
        background-position: top center;
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    .p-btn-ws2{
        margin-left: 1rem;
    }
    .inf1{
        display: none;
    }
    header .winfo{
        width: 54% !important;
        padding-bottom: 20px !important;
    }
    header .tinfo1{
        font-size: 0.5rem !important;
        font-family: 'helvetica';
    }
    .guardian-header2 {
        width: 100% !important;
        margin-top: -5px;
        margin-bottom: 5px;
    }
    .btninf{
        font-size: 0.7rem;
    }
    .btninf > i {
        font-size: 1.9rem;
        padding: 8px;
    }
    .selectivos h1 {
        padding-top: 30px !important;
        text-align: center !important;
        font-size: 1em;
    }
    .guardian-moto {
        width: 85% !important;
        margin-top: -7px;
    }
    .btn-ws-moto {
        padding-right: 6rem;
        margin-top: -7px;
    }
    .paddinheader{
        padding-bottom: 50px;
        padding-top: 80px;
    }
    .t7-guardianes {
        font-size: 10pt;
    }
    .t5-guardianes {
        font-size: 40pt;
    }
    .texto-guardianes-mapa{
        line-height: 39px;
        padding-bottom: 0px;
        margin-left: 0px;
        text-align: center !important;
        margin-bottom: -24px;

    }
    .t8-guardianes {
        margin-bottom: -16px;
        font-size: 0.7rem;
        color: #392911;
        text-shadow: 5px 4px 8px #000;
    }

    .t9-guardianes {
        margin-bottom: 0;
        font-size: 32pt;
        color: #392911;
        padding-bottom: 20px;
    }
    .hab1 {
        top: -18%;
        left: 21%;
        font-size: 0.9rem;
    }
    .hab2 {
        left: -1%;
        font-size: 0.7rem;
        width: 117px;

    }
    .hab3 {
        right: 3%;
        font-size: 0.7rem;
        width: 65px;
    }
    .hab4{
        font-size: 0.7rem;
        left: 5px;
        bottom: 0px;
        width: 135px;
    }
    .hab5{
        font-size: 0.7rem;
        right: 16px;
        bottom: 0px;
        width: 112px;
    }
    .fondofo {
        border-radius: 0px;
    }
    .eq1 {
        font-size: 20pt;
        padding-top: 0px;
        text-align: center;
    }
    .eq2 {
        font-size: 12pt;
        padding-right: 0;
        text-align: center;
    }
    .p-btn-ws{
        margin-left: 4rem;
    }
    .mapa{
        background-size: cover;
        padding-top: 165px;
        overflow-y: hidden;
    }
    .formulario{
        padding-top: 0px;
    }
    .mapa-img{
        margin-top: -29px !important;
    }
    .icons-social {
        font-size: 10px;
        padding-top: 49px;
    }
    .whatsapp-fix i{
        padding: 8px 10px;
        border-radius: 42px;
        font-size: 2.2rem !important;
        bottom: 0;
    }
}

@media screen and (min-width: 1400px) {
    .paddinheader{
        padding-bottom: 260px;
        padding-top: 260px;
    }
    .mapa{
        background-size: cover;
        padding-top: 978px;
        overflow-y: hidden;
    }
    .mapa-img{
        margin-top: -50px !important;
    }
   
}

@media screen and (min-width: 1565px) {
    .paddinheader{
        padding-bottom: 300px;
        padding-top: 300px;
    }
    .mapa{
        background-size: cover;
        padding-top: 786px;
        overflow-y: hidden;
    }
    .mapa-img{
        margin-top: -50px !important;
    }
   
}

@media screen and (min-width: 1720px) {
    .paddinheader{
        padding-bottom: 340px;
        padding-top: 340px;
    }
    .mapa{
        background-size: cover;
        padding-top: 879px;
        overflow-y: hidden;
    }
    .mapa-img{
        margin-top: -50px !important;
    }
}

@media screen and (min-width: 1830px) {
    .paddinheader{
        padding-bottom: 380px;
        padding-top: 380px;
    }
    .mapa{
        background-size: cover;
        padding-top: 978px;
        overflow-y: hidden;
    }
    .mapa-img{
        margin-top: -50px !important;
    }
}